<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.safe.info.core.mapper.LoginLogMapper">
    <insert id="insert" parameterType="com.safe.info.core.pojo.LoginLog">
        insert into
        t_login_log(customer_id,ip,login_time,state,update_time,create_time)
        values
        (#{customerId},#{ip},NOW(),1,NOW(),NOW())
    </insert>

</mapper>